body{
  background-color: #61ce70;
  background-color: #00d084;
  overflow: hidden;
}



.side_box{
  height:80px;
  background-color: aliceblue;
  width: 80px;
  border-radius: 7px;
  text-align: center;
 

}



.header {
  margin-right: 8px;
  position: relative;
  left: 0;
  top: 15px;
  float: left;
  width: 72px;
  z-index: 100;
  text-align: center;
  opacity: 1;
  visibility: visible;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px
}

.header.active {
  opacity: 1 !important;
  visibility: visible !important
}

.disable-sidebar .header .menu-btn,
.no-sidebar .header .menu-btn {
  height: 0;
  visibility: hidden;
  opacity: 0
}


h3.text{
  text-align: center;
  padding-top: 10px;
  padding: 10px;
}

.sidebar{
  background-color:aliceblue;
  width: 2%;
  padding-left: 3rem;
  height: 100vh;
  border-radius: 7px;
  margin-top: 3rem;
  margin-left: 2rem;
  padding-right: 3px;
}

.split{
  display: flex;
  gap: 10px;
}



.photo_section{
  
  height: 550px;
  background-color: azure;
  margin-top: 2rem;
  width: 30rem;
  border-radius: 7px;
 
}

.photo_section img{
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.detail{
  margin-top: 2rem;
  text-align: center;
padding-bottom: 2rem;
}

.photo_icons{
  display: flex;
  align-content: center;
  /* padding: 2rem; */
  margin-left: 11rem;
  margin-top: -15px;
}

.photo_icon{
  display: flex;
  padding-right: 1rem;
  justify-content: center;
  align-content: center;
}

.vertical{
  border-left:6px;
  height: 60px;
  margin-left: 50%;
  margin-top: -10px;
  
  width: 1px;
  color: greenyellow;
  background-color:gray;
}

.photo_footer{
  justify-content: space-between;
  display: flex;
  padding-left: 3rem;
  padding-right: 6rem;
  margin-top: -3.5rem;
}

.nav-items{
  margin-right: -10rem;
  margin-left: -4.5rem;
  text-decoration: none;
  list-style-type: none;
}

.nav-item{
  padding-top: 4rem;
  
}

 .nav_line{
  color:red;
  width: 16px;
  height: 10px;


}

ul li a{
  text-decoration: none;
  color: black;
  
}
        
        /* page layout styling */

.page_layout{
  width: 48%;
  background-color: honeydew;
  height: 510px;
  margin-top: 3rem;
  margin-left: -0.6rem;
}